* {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --team-color: #f5f4fa;
  --black-color: #000;
  --brand-color: #212121;
  --link-color: #2196f3;
  --contact-color: #757575;
  --icons-color: #afb1b8;
  --border-color: #eee;
  --portfolio-box-color: rgba(33, 150, 243, 0.9);
  --boxed-color: rgba(47, 48, 58, 0.8);
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --bg-color: #2f303a;
  --border-radius: 4px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow2: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  color: var(--black-color);
  margin-right: 93px;
}

.logo-white {
  color: var(--white-color);
}

nav {
  flex-grow: 1;
}

.nav {
  display: flex;
  gap: 46px;
}

.nav__link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-decoration: none;
}

.nav__link.is-active {
  position: relative;
  color: var(--link-color);
}

.nav__link.is-active::after {
  position: absolute;
  content: '';
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.contact {
  display: flex;
  gap: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--contact-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo--blue {
  color: var(--link-color);
}

.nav__link:hover,
.nav__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--link-color);
  transition: color 250ms var(--cubic-bezier);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.hero > .container {
  padding-top: 106px;
  padding-bottom: 106px;
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero__button,
.modal-form-button {
  display: block;
  margin: 0 auto;
  border: 0;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 42px;
  background-color: var(--link-color);
  color: var(--white-color);
  cursor: pointer;
}

.examples {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.examples__cards,
.examples__work-cards,
.portfolio,
.team-cards,
.client-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples__item,
.team-cards li {
  flex-basis: calc((100% - 90px) / 4);
}

.examples__work-item,
.portfolio li {
  flex-basis: calc((100% - 60px) / 3);
}

.examples__label {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--brand-color);
}

.examples__icon-bg {
  background-color: var(--team-color);
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: var(--border-radius);
}

.examples__content {
  margin: 10px 0 96px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--contact-color);
}

.examples__work-image {
  position: relative;
}

.examples__work-label {
  position: absolute;
  bottom: 0;
  background-color: var(--boxed-color);
  width: 100%;
}

.examples__work-text {
  padding: 27px 0;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.examples__title,
.team-content h2,
.client-content h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.team-content {
  background-color: var(--team-color);
}

footer,
.hero {
  background-color: var(--bg-color);
}

.team-cards > li {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards figcaption {
  margin: 30px 0 16px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-cards .team-name {
  font-weight: 500;
  color: var(--brand-color);
}

.team-cards .team-descr {
  color: var(--contact-color);
}

.team-content .team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.team-social li:not(:last-child),
.footer-social-icons li:not(:last-child) {
  margin-right: 10px;
}

.team-social li a,
.footer-social .footer-social-icons li a {
  display: inline-flex;
  padding: 12px;
}

.team-social li a {
  color: var(--icons-color);
  fill: currentColor;
}

.team-social li a:hover,
.team-social li a:focus {
  color: var(--white-color);
  background-color: var(--link-color);
  border-radius: 50%;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}

.client-cards li {
  flex-basis: calc((100% - 150px) / 6);
}

.client-cards li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-color);
  border-radius: var(--border-radius);
  padding: 15px 0;
  fill: var(--icons-color);
}

.client-cards li a:hover,
.client-cards li a:focus {
  border-color: var(--link-color);
  fill: var(--link-color);
  transition: border-color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}

footer {
  padding: 60px 0;
}

.footer,
.footer-social-icons {
  display: flex;
  justify-content: flex-start;
}

.footer-address {
  margin-right: 70px;
}

.footer-address p {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-address p:not(:first-child) {
  margin-top: 9px;
}

.footer-address p:first-child {
  color: var(--white-color);
}

.footer-address address {
  margin-top: 20px;
}

.footer-address p a {
  text-decoration: none;
  color: var(--footer-contact-color);
}

.footer-address p a:hover,
.footer-address p a:focus {
  background-color: var(--link-color);
  transition: background-color 250ms var(--cubic-bezier);
}

.footer-social,
.footer-newsletter {
  margin-top: 12px;
}

.footer-social {
  margin-right: 78px;
}

.footer h4 {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social .footer-social-icons li a {
  fill: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social .footer-social-icons li a:hover,
.footer-social .footer-social-icons li a:focus {
  background-color: var(--link-color);
  transition: background-color 250ms var(--cubic-bezier);
}

.portfolio-buttons {
  margin-bottom: 50px;
}

.portfolio-buttons-list,
form[name='newsletter'],
form[name='newsletter'] button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-buttons-list > li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons-list button {
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--team-color);
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
}

.portfolio-buttons-list button:focus,
.portfolio-buttons-list button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--link-color);
  color: var(--white-color);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio figcaption {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.portfolio-item-spec {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
  background-color: var(--portfolio-box-color);
}

.portfolio-overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 350ms var(--cubic-bezier);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.25);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  visibility: visible;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms var(--cubic-bezier);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}

.close-btn:hover {
  fill: var(--link-color);
  transition: fill 250ms var(--cubic-bezier);
}

form[name='newsletter'] {
  flex-wrap: wrap;
  gap: 12px;
}

form[name='newsletter'] input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  background-color: transparent;
  outline: none;
  padding: 15px 16px;
  min-width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

form[name='newsletter'] button {
  gap: 24px;
  background-color: var(--link-color);
  color: var(--white-color);
  fill: currentColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 42px;
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

form[name='modal-form'] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form-item {
  color: var(--contact-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.modal-form-item input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
  padding-left: 42px;
  height: 40px;
}

.modal-form-item input:focus,
.modal-form-item input:focus + svg,
.modal-form-item input:hover,
.modal-form-item input:hover + svg,
.modal-form-item textarea:focus,
.modal-form-item textarea:hover {
  border-color: var(--link-color);
  fill: var(--link-color);
  transition: border-color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}

.modal-form-item svg {
  position: absolute;
  top: 28px;
  left: 14px;
}

.modal-form-item textarea {
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-item textarea::placeholder {
  color: currentColor;
}

.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-form-checkbox input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 15px;
  background-color: var(--white-color);
  border: 2px solid var(--brand-color);
  border-radius: 2px;
}

.modal-form-checkbox input:checked {
  opacity: 0;
  transition: opacity 250ms var(--cubic-bezier);
}

.modal-form-checkbox span {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.modal-form-checkbox span a {
  color: var(--link-color);
}

.modal-form-button {
  padding: 10px 76px;
}
