.hero__button {
  display: block;
  margin: 0 auto;
  border: 0;
  text-align: center;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  @include font(16px, 700, 1.8, 0.06em);
  padding: 10px 42px;
  background-color: map-get($colors, 'link');
  color: map-get($colors, 'light');
  cursor: pointer;
}

.modal__button {
  @extend .hero__button;
  padding: 10px 76px;
}

.portfolio-buttons {
  margin-bottom: 50px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.portfolio__button {
  border: 0;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  color: inherit;
  @include font(16px, 500, 1.6, 0.03em);
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;

  &:focus,
  &:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: map-get($colors, 'link');
    color: map-get($colors, 'light');
    transition: color 250ms $cubicBezier, background-color 250ms $cubicBezier, box-shadow 250ms $cubicBezier;
  }
}
